.recipe-pic-small{
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
.recipe-pic-large{

}
.recipe-link{
	height: 200px;
	width: 200px;
}
.ingredients-all{
	display: inline-block;
}
.ingredient-selector{
	display:inline-block;
	margin: 5px;
	padding: 5px;
	height: 100px;
	width: 150px;
}
.ingredient-li{
	display:inline-block;
}
.ingredient-name{
	margin: 0 auto;
	text-align: center;
    width:100%;
}
/*.ingredient-image{
	 margin: 0 auto;
	 display: block;
}*/
.ingredient-pic-small{
	margin: 0 auto;
	display: block;
	position:relative;
	top:-55px;
	-webkit-transform: scale(0.25); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.25); /* FF3.5+ */
      -ms-transform: scale(0.25); /* IE9 */
       -o-transform: scale(0.25); /* Opera 10.5+ */
          transform: scale(0.25);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
#searchbar{
	width: 95%;
	height: 25px;
	display:block;
	margin: 0 auto;
}
#footer{
	display:block;
	margin: 0 auto;
	height: 120px;
	width: 100%;
	position: fixed;
	background-color: #999; 
	z-index: 10;
	left:150px;
	top:0px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
#submit{
	display:block;
	height: 120px;
	width: 150px;
	position: fixed;
	background-color: #1D9100; 
	z-index: 9;
	white-space: nowrap;
}
#submitButton{
	width: 100%;
	line-height: 120px;
	display:inline-block; 
	vertical-align:middle;
	text-align: center;
	font-size: 2.25em;
}
.footer-ingredient{
	display:inline-block;
}