$def with (allIngredients)
<!--<link rel="stylesheet" type="text/css" href="static/css/imagepicker.css">-->
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
<!--<script type="text/javascript" src="static/js/imagepicker.js"></script>-->
<script>

	ingredientsSelected = ""

	function pageInit(){
		//\$("select").imagepicker()
		main()
	}

	function toggle(ingredientId){
		ingredientsSelected.concat(ingredientId.split("-").join(" ")
		console.log("click registered, recieved id: ", ingredientId)
		setBgColor(ingredientId, "red")
	}
	function setBgColor(id, color){
		console.log("Setting ", id, " to ", color)
		document.getElementById(id).style.backgroundColor = color
	}

	function createJavascriptArrayFromPythonList(id) {
		listString = document.getElementById(id).innerHTML
		// remove [ & ]
		listString = listString.substring(1, listString.length-1);
		// remove '
		listString = listString.split("'").join("")
		// remove leading space from each element
		listString = listString.split(", ").join(",")
		// Create a handy dandy array
		listArray = listString.split(",")
		return listArray
	}

	function main(){
		ingredientArray = createJavascriptArrayFromPythonList("allIngredients")
		htmlOut = ""
		transparent = "transparent"
		for (i = 0; i < ingredientArray.length; i++) { 
			//htmlOut = htmlOut.concat("<option data-img-src='images/ingredients", ingredientArray[i], ".png' value='", ingredientArray[i], "'>")
			ingredientId = ingredientArray[i].split(" ").join("-")
			htmlOut = htmlOut.concat("<div onload=\"setBgColor(\'", ingredientId, "\',\'", transparent, "\')\" onclick=\"toggle(\'", ingredientId, "\')\" id=", ingredientId, " class=\"ingredient\"> ", ingredientArray[i], "</div>")
		}
		htmlOut = htmlOut.concat("")
		//console.log(htmlOut)
		document.getElementById("ingredientSelector").innerHTML = htmlOut
	}

</script>
<div style="display:none" id="allIngredients">$allIngredients</div>
<div id="ingredientSelector"></div>
<script>pageInit()</script>
